* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --theme-color: #008000;
}

/* Header */
.header {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    background-color: var(--theme-color);
    height: 80px;
    padding: 10px;
    position: fixed;
    width: 100%;
}

.logo-text {
    display: flex;
    align-items: center;
}

.logo {
    width: 80px;
    height: 60px;
}

.header-text {
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-left: 20px;
}

.nav {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

.nav-link {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
}

.nav-link:hover {
    background-color: white;
    color: var(--theme-color);
}

.search {
    display: inline-block;
    position: relative;
    margin-bottom: 10px;
}
.search-input {
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 20px;
    padding: 10px 40px 10px 20px;
    outline: none;
}
.dropbtn {
    background-color: #008000;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: #008000;
}

.search-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20px;
    height: 20px;
}
html {
    width: 100%;
}

/* Body */
.body {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    background-image: url("Texture.png");
    background-size: cover;
}

.body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.picture {
    width: 300px;
    height: 300px;
    border-radius: 50px;
    margin-top: 20px;
    background-image: url("unnamed.png");
    background-size: cover;
    background-position: center;
}
.saying-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}
.saying {
    width: auto;
    font-size: 20px;
    color: #008000;
    text-align: justify;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    text-align: justify;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.social-icons a {
    display: inline-block;
    margin: 0 10px;
    transition: transform 0.3s;
}

.social-icons a:hover {
    transform: scale(1.2);
}

.social-icons img {
    width: 40px;
    height: 40px;
}

/* Footer */
.footer {
    display: flex;
    background-color: var(--theme-color);
    height: 80px;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    color: white;
}

.footer-section h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.footer-section p {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
    font-family: 'Times New Roman', Times, serif;
}
